/*
====================================
Fixes native-enforcing of date field for date-of-birth fields
as service does not implement native date inputs
====================================
*/
.touchevents .date-of-birth {
  display:block;
}



/*
====================================
Work-around for issue on iOS VoiceOver with AFE version of visuallyhidden
https://github.com/hmrc/assets-frontend/issues/727
====================================
*/
.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}

/*
====================================
Welsh/English language selector
====================================
*/
.translate {
  margin: 0;
}
.translate + .content__body h1 {
  margin-top: 0.8em;
}

/*
====================================
Common styles
====================================
*/

.page-info {
   color: #6f777b;
   font-size: 27px;
   margin-bottom: 5px;
 }

/*
====================================
Language switch
====================================
*/

.govuk-lang-switch {
  list-style: none;
  text-align: right;
  margin: 15px 0;
  padding-left: 0;
}

.govuk-lang-switch-item {
  display: inline;
}

.govuk-lang-switch > *:first-child {
  padding-right: 5px;
}

.govuk-lang-switch > *:last-child {
  border-left: 2px solid;
  padding-left: 5px;
}
