.govuk-\!-width-full,
.govuk-\!-width-three-quarters {
	width: 100%!important
}

@media (min-width:40.0625em) {
	.govuk-\!-width-three-quarters {
		width: 75%!important
	}
}

.govuk-\!-width-two-thirds {
	width: 100%!important
}

@media (min-width:40.0625em) {
	.govuk-\!-width-two-thirds {
		width: 66.66%!important
	}
}

.govuk-\!-width-one-half {
	width: 100%!important
}

@media (min-width:40.0625em) {
	.govuk-\!-width-one-half {
		width: 50%!important
	}
}

.govuk-\!-width-one-third {
	width: 100%!important
}

@media (min-width:40.0625em) {
	.govuk-\!-width-one-third {
		width: 33.33%!important
	}
}

.govuk-\!-width-one-quarter {
	width: 100%!important
}

@media (min-width:40.0625em) {
	.govuk-\!-width-one-quarter {
		width: 25%!important
	}
}