/* added missing class for header and application pages from WCAG 4.11.0 Updates */
.header__menu__proposition-name {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-family: "nta",Arial,sans-serif;
  font-weight: 700;
  text-transform: none;
  line-height: 1.25;
}
.centered-content {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0em .78947em 0em .78947em;
    line-height: 1.5;
    font-family: "nta",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
}
.brand-border--top, .section--blue-top, .footer, .service-info {
    border-top-color: #1d70b8;
}
a.header__menu__proposition-name {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
.header__menu__proposition-links {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-family: "nta",Arial,sans-serif;
  font-weight: 700;
  text-transform: none;
  line-height: 1.25;
  text-decoration: none;
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    padding-right: em(15);
  }

  a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
}
.service-info {
    border-top: 10px solid #005ea5;
    padding-bottom: 0.5em;
    display: block;
    position: relative;
    z-index: 997;
    overflow: hidden;
}
.beta-banner {
    padding: 10px 0 8px;
    border-bottom: 1px solid #bfc1c3;
}
.brand-border--top, .section--blue-top, .footer, .service-info {
    border-top-color: #1d70b8;
}
.beta-banner p {
     display: table;
     margin: 0;
     color: #000;
     font-family: "nta",Arial,sans-serif;
     font-weight: 400;
     text-transform: none;
     font-size: 14px;
     line-height: 1.14286;
}
.beta-banner span {
     display: table-cell;
     vertical-align: baseline;
}
//section
.section, .section--branded {
    margin-bottom: 1em;
    padding: 1em 0;
}
//main
#wrapper {
    background-color: #fff;
}
.report-error {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 2em 0 1.5em 0;
}
.report-error__toggle {
    font-size:16px;
    color: #454a4c;
}
.report-error__content .report-error__loading {
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  margin-top: 0.5em;
  padding: 32px 32px 0 0;
}
.footer-meta ul li {
    font-family: "nta",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
}
.organisation-logo, .organisation-logo-stacked {
    font-family: Helvetica, Arial;
    font-weight: 400;
    display: block;
     font-size: 18px;
     line-height: 22px;
}
.multiple-choice .block-label, .multiple-choice .block-label--stacked, .multiple-choice .block-label--stacked {
    position: static;
    background: transparent;
    border: 0;
}
.multiple-choice {
    display: block;
    float: none;
    clear: left;
    position: relative;
    padding: 0 0 0 38px;
    margin-bottom: 10px;
}
.heading-medium, .heading-24, h2, .h2-heading {
    font-family: "nta",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 1.25em;
    margin-bottom: .5em;
}
.bullets {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
}
article ul {
    list-style: none;
    margin: 0.75em 0;
    padding: 0;
}
@media (min-width: 641px) {
    .heading-medium, .heading-24, h2, .h2-heading {
        margin-top: 1.875em;
        margin-bottom: .83333em;
    }
    .heading-medium, .heading-24, h2, .h2-heading {
        font-size: 24px;
        line-height: 1.25;
    }
    .beta-banner {
        padding-bottom: 10px;
    }
    .beta-banner p {
       font-size: 16px;
       line-height: 1.25;
        }
     p, .body-text {
         margin-top: .26316em;
         margin-bottom: 1.05263em;
     }
     .centered-content {
         font-size: 19px;
         line-height: 1.31579;
     }
     ul li, nav ul li {
         font-size: 19px;
         line-height: 1.31579;
     }
     .footer-meta ul li {
             font-size: 16px;
             line-height: 1.25;
         }
     .multiple-choice {
         float: left;
     }
     .block-label, .block-label--stacked {
         float: left;
         margin-top: 5px;
         margin-bottom: 5px;
     }
 }
 .sub-header {
     font-weight: 400;
     font-size: 24px;
     line-height: 1.25;
     margin-top: 0.26316em;
     margin-bottom: 0.05263em;
 }