.application-notice, article .application-notice {
  padding: 0.1em 0 0.1em 1em;
}
.info-notice, article .info-notice {
  background: none;
  border-left: 10px solid #bfc1c3;
  margin-bottom: 1em;
  margin-top: 1.2em;
}