/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p {
  word-break: break-word;
}

p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
font-family:"nta",Arial,sans-serif;
font-size:16px;
line-height:1.25;
font-weight:300;
text-transform:none
}
@media (max-width: 640px){
p.font-xsmall{
  font-size:14px;
  line-height:1.14286
  }
}


/*give some space to the hero*/
.hero {
  margin: 1em 0;
}
.hero__heading-large,
.hero__heading-small {
  display: block;
}

.pre-wrap {
  white-space: pre-wrap;
}
/* added captions color line with GDS */
.heading-xlarge h1 {
    font-weight: 700;
}
.heading-xlarge .heading-secondary {
    color: #505a5f;
    margin: 0px;
}
.main-wrapper.govuk-width-container {
    background-color: #fff;
    padding-bottom: 1.05263em
}
.back-link-text {
    margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
    .heading-xlarge {
        margin-top: 0px;
        padding-top: 15px;
    }
}
.hide-elements {
    display: none;
}
.heading-xlarge-label {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 700;
}
/* added correct link colour */
a:hover{
  color: #003078;
}
a:active {
  color: #0b0c0c;
}

@media screen and (max-width: 767px) {
    .font-18px-only-mobile {
        font-size : 18px;
    }
}
/* added GDS styles for 'Sign out’ link on service time out dialog */
#timeout-sign-out-btn {
     background-color: transparent;
     box-shadow: unset;
     text-decoration: underline;
     color: #1d70b8;
     padding-bottom: 1rem;
     vertical-align: bottom;
     display: inline-block;
     margin-left: 5px;
 }
#timeout-sign-out-btn:hover {
    color: #003078;
 }
#timeout-sign-out-btn:focus {
    color: #0b0c0c;
    outline: 3px solid transparent;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
 }