/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p {
  word-break: break-word;
}

p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
font-family:"nta",Arial,sans-serif;
font-size:16px;
line-height:1.25;
font-weight:300;
text-transform:none
}
@media (max-width: 640px){
p.font-xsmall{
  font-size:14px;
  line-height:1.14286
  }
}


/*give some space to the hero*/
.hero {
  margin: 1em 0;
}
.hero__heading-large,
.hero__heading-small {
  display: block;
}

.pre-wrap {
  white-space: pre-wrap;
}
.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
    display: inline-block;
        outline: 2px solid transparent;
        outline-offset: -2px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 14px;
        padding-top: 5px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
}
.data-filter {
    width: 80% !important;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 22px;
    padding: 5px;
    margin-top: 16px;
}