@import '_variables.scss';

/*
====================================
Utility alignments
====================================
*/
.u-align--right {
  text-align: right;
}
@media screen and (min-width: 641px){
  .u-align--tablet-right {
    text-align: right;
  }
}
.u-align--center {
    text-align: center;
}

/*
====================================
Utility bold
Pulled from GDS elements typography
====================================
*/
.bold {
  font-weight: 700;
}
label > .bold {
  display: block; /*temp fix until form story can fix label structure*/
}

// Margin Top
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: ($spacer * .25) !important;
}

.mt-2 {
  margin-top: ($spacer * .5) !important;
}

.mt-3 {
  margin-top: ($spacer * .75) !important;
}

.mt-5 {
  margin-top: ($spacer * 1.25) !important;
}

// Margin Bottom


.mb-2 {
  margin-bottom: ($spacer * 0.5) !important;
}

.mb-3 {
  margin-bottom: ($spacer * 0.75) !important;
}

.mb-4 {
  margin-bottom: ($spacer * 1) !important;
}

.mb-5 {
  margin-bottom: ($spacer * 1.25) !important;
}


// Margin Y
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: ($spacer * .25) !important;
  margin-bottom: ($spacer * .25) !important;
}

.my-2 {
  margin-top: ($spacer * .5) !important;
  margin-bottom: ($spacer * .5) !important;
}

.my-3 {
  margin-top: ($spacer * .75) !important;
  margin-bottom: ($spacer * .75) !important;
}

// Padding Left

.pl-1 {
  padding-left: 1em
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

/*
====================================
Colors
====================================
*/

.color-green {
  color : #006435;
}

.color-red {
  color : #B10E1E;
}


/*
====================================
Layout
====================================
*/


.align-right {
  text-align: right;
}


/*
====================================
  Description List for file list
====================================
*/

.file-list {

  display: table;
  table-layout: fixed;
  width: 100%;

  &-row {
    display: flex;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfc1c3;
  }
  &-name {
    display: table-cell;
    width: 60%;
    overflow-wrap: break-word;
  }
  &-size{
    display: table-cell;
    width: 25%;
  }
  &-link{
    display: table-cell;
    width: 15%;
  }

  .visually-hidden{
    position: fixed;
  }
}
