body {
    counter-reset: sec-counter;
}
.govuk-panel--confirmation {
	color: #fff;
	background: #00703C;
	margin-top: 30px;
}
span.footer-page-no::before {
    counter-increment: sec-counter;
    content: "Page " counter(sec-counter) " of 2 ";
}
.print-save-application {
    position: relative;
    display: inline-block;
    margin: 0 15px 15px 0;
    border-bottom: 1px solid #0b0c0c;
}
.print-this__link, .print-this__link:visited, .print-this__link:link, .save-this__link, .save-this__link:visited, .save-this__link:link {
    color: #0b0c0c;
    font-size: 16px;
    text-decoration: none;
}
.print-document {
    border: 1px solid #6f777b;
    box-shadow: 6px 6px 0 0 #dee0e2;
    padding: 50px 50px;
    height: auto;
    position: relative;
    margin-bottom: 2em;
}

ul li {
    font-size: 16px;
}

.print-document table td {
    border: none;
    padding: 0;
    margin: 0;
}

.print-document h2, h3, h4 {
    margin-top: 0;
}

.print-document .print-header {
    position: relative;
    //top: 10mm;
}


.print-document .logo-text {
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   line-height: 1;
}
.print-document .print-header h2 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #00703C;
    font-weight: 600;
}

.crown-logo-atar{
    height: 100px;
    width:auto;
    padding-left: 8px;
    margin-right: -15px;
}

.print-document .information-box {
    border: 2px solid #00703C;
    display: block;
    margin-bottom: 1em;
    padding: 5px 10px;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.print-document .print-header h3 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #00703C;
    font-weight: 600
}
.print-document .hero-text {
    margin-bottom: 0.26316em;
    font-size: 1.4em;
    font-weight: 700;
}
.print-document .reference-number {
    font-size: 36px;
}
.print-document .footer-page-date {
     float: right;
 }
.print-document h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
    font-weight: 600;
}
.print-header, .header-space,
.print-footer, .footer-space {
  //height: 45mm;
}
.print-document .footer-info {
    font-size: 14px;
    margin-top: 1em;
}
.print-document__information-box {
    border: 2px solid #00703C;
    display: block;
    margin-bottom: 1em;
    padding: 5mm;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}

.date-of-result, .decision-service-version {
    border-bottom: 2px solid #00703C
}

.date-of-result h3 {
    margin-bottom: 0
}

.about-this-result-box {
    background: #e1f3f1;
    padding: 1px 10px;
    font-size: 15px;
    -webkit-print-color-adjust: exact
}
.about-this-result-box-do-not-send {
    height: 480px;
}

.about-this-result, .date-of-result {
    margin-top: 1em;
    margin-bottom: 1em;
}

.column-one-half {
    width: 50%;
    float: left;
}
.column-one-third {
    width: 33%;
    float: left;
}
.column-two-thirds {
    width: 66%;
    float: left;
}
.print-pages {
    -webkit-transform-origin:  top left;
    -moz-transform-origin:  top left;
    -ms-transform-origin:  top left;
    -o-transform-origin:  top left;
    transform-origin:  top left;
}

@media screen and (max-width: 1100px) {
    .print-pages {
        -webkit-transform: scale(0.9);
        -moz-transform:    scale(0.9);
        -ms-transform:     scale(0.9);
        -o-transform:      scale(0.9);
        transform:         scale(0.9);
    }
}

@media screen and (max-width: 1000px) {
    .print-pages {
        -webkit-transform: scale(0.8);
        -moz-transform:    scale(0.8);
        -ms-transform:     scale(0.8);
        -o-transform:      scale(0.8);
        transform:         scale(0.8);
    }
}

@media screen and (max-width: 900px) {
    .print-pages {
        -webkit-transform: scale(0.7);
        -moz-transform:    scale(0.7);
        -ms-transform:     scale(0.7);
        -o-transform:      scale(0.7);
        transform:         scale(0.7);
    }
}

@media screen and (max-width: 800px) {
    .print-pages {
        -webkit-transform: scale(0.6);
        -moz-transform:    scale(0.6);
        -ms-transform:     scale(0.6);
        -o-transform:      scale(0.6);
        transform:         scale(0.6);
    }
}

@media screen and (max-width: 700px) {
    .print-pages {
        -webkit-transform: scale(0.5);
        -moz-transform:    scale(0.5);
        -ms-transform:     scale(0.5);
        -o-transform:      scale(0.5);
        transform:         scale(0.5);
    }
}

@media screen and (max-width: 600px) {
    .print-pages {
        -webkit-transform: scale(0.4);
        -moz-transform:    scale(0.4);
        -ms-transform:     scale(0.4);
        -o-transform:      scale(0.4);
        transform:         scale(0.4);
    }
}

@media screen and (max-width: 500px) {
    .print-pages {
        -webkit-transform: scale(0.3);
        -moz-transform:    scale(0.3);
        -ms-transform:     scale(0.3);
        -o-transform:      scale(0.3);
        transform:         scale(0.3);
    }
}

@media print {

    @page {
        height: 297mm;
        width: 210mm;
        margin: 0;
    }
     html, body {
            border: 1px solid white;
            width: auto;
            height: 95%;
            page-break-after: avoid;
            page-break-before: avoid;
            margin: 0;
    }
   .hidden-print {
       display: none !important;
    }
    .service-info {
        display: none !important;
    }
   .print-document {
      margin: 10mm;
      border: none;
      width: 210mm;
      height: 296mm;
      padding: 10mm;
      box-shadow: none;
      zoom: 100%;
   }
   .print-document .footer-info {
   font-size: 14px;
       margin-top: 2em;
       position: absolute;
           width: 210mm;
           bottom: 10px;
   }
   .information-box {
      background: #e1f3f1;
      -webkit-print-color-adjust: exact
   }
   .column-half {
       width: 50%;
       float: left;
   }

   #print-and-save-result {
      display: none;
   }
   .print-header {
       position: fixed;
       top: 0px;
       margin-top: 20mm;
       width: 210mm;
   }
   .notice .icon {
       position: absolute;
       left: 0;
       top: 50%;
       margin-top: -17px;
   }
   .icon-important {
       width: 35px;
       height: 35px;
       background-image: url(../images/icon-important.png);
   }
   .icon {
       display: inline-block;
       background-position: 0 0;
       background-repeat: no-repeat;
   }
   .centered-content {
       display: none;
   }
   #global-cookie-message {
       display: none;
   }
   .translate {
       display: none;
   }
   header {
       display: none;
   }
   .report-error {
       display: none;
   }
}
tfoot {
    position: absolute;
    bottom: 10mm;
}
.page {
    margin-bottom: 10mm;
}
.section-heading {
    color: #005EA5;
    margin-top: 1em;
}
.answer--container {
    display: table;
    margin-top: 1em;
    page-break-inside: avoid !important;
    width: 100%;
}
.answer--question {
    float: left;
    width: 50%;
}
.answer--question p {
    margin-top: 0.5em;
}
.answer--question p strong {
    font-weight: 700;
}
.answer--answer {
    float: left;
    width: 50%;
}
.answer--answer p {
    margin-top: 0.5em;
    margin-left: 1em;
}