@import 'partials/_view_application';

$spacer: 4.0rem;

.align-right {
  text-align: right;
}

// Margin Top
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: ($spacer * .25) !important;
}

.mt-2 {
  margin-top: ($spacer * .5) !important;
}

.mt-3 {
  margin-top: ($spacer * .75) !important;
}

.mt-4 {
  margin-top: ($spacer * 1) !important;
}

.mt-5 {
  margin-top: ($spacer * 1.25) !important;
}

// Margin Bottom

.mb-2 {
  margin-bottom: ($spacer * 0.5) !important;
}

.mb-3 {
  margin-bottom: ($spacer * 0.75) !important;
}

.mb-4 {
  margin-bottom: ($spacer * 1) !important;
}

.mb-5 {
  margin-bottom: ($spacer * 1.25) !important;
}

// Margin Y
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: ($spacer * .25) !important;
  margin-bottom: ($spacer * .25) !important;
}

.my-2 {
  margin-top: ($spacer * .5) !important;
  margin-bottom: ($spacer * .5) !important;
}

.my-3 {
  margin-top: ($spacer * .75) !important;
  margin-bottom: ($spacer * .75) !important;
}

// Padding Left

.pl-1 {
  padding-left: 1em
}
.pl-0 {
  padding-left: 0px
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.p-0 {
  padding: 0px;
}
