body {
    font-family: "nta",Arial,sans-serif;
}

a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}

#print-and-save-result {
    display: none;
}

.column-full {
    float: left;
    width: 100%;
}

table {
    width: 100%;
}

.divider--bottom {
    border-bottom:1px solid #bfc1c3
}

table td {
    border-bottom: 1px solid #ddd;
}

.column-full {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.column-two-thirds {
    width: 62%;
    float: left;
}

.column-one-third {
    width: 38%;
    float: left;
}

.print-header .column-one-third {
    width: 36%;
    float: left;
}

.column-one-half {
    width: 50%;
    float: left;
}

.bold-medium {
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
    font-family: "nta",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
}

.bold {
    font-weight: 700;
}

.column-full {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.print-document {
    width: 210mm;
    height: 297mm;
    position: relative;
}

.print-document table td {
    border: none;
    padding: 0;
    margin: 0;
}

.print-document h2, h3, h4 {
    margin-top: 0;
}

.print-document .print-header {
    width: 210mm;
    position: absolute;
    top: 0mm;
}

.print-document .print-header .column-one-third {
    border-left: #28A197 solid;
    padding-left: 8px;
}

.print-document .print-header h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

.print-document .print-header h3 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #28A197;
    font-weight: 600
}

.print-header, .header-space,
.print-footer, .footer-space {
  height: 30mm;
}

.print-document .information-box {
    border: 2px solid #28a197;
    display: block;
    margin-bottom: 1em;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}

.date-of-result, .decision-service-version {
    border-bottom: 2px solid #28a197
}

.date-of-result h3 {
    margin-bottom: 0
}

.about-this-result-box {
    background: #e1f3f1;
    padding: 1px 10px;
    font-size: 15px;
    -webkit-print-color-adjust: exact
}

.about-this-result, .date-of-result {
    margin-top: 1em;
    margin-bottom: 1em;
}

.heading-medium {
    font-size: 30px
}

tfoot p {
    position: absolute;
    bottom: 0mm;
    width: 100%;
}

.page {
    margin-bottom: 10mm;
}

#answer ul {
    margin-top: 0;
}

ul.section {
    margin: 0;
    padding:0;
}

ul.section ul {
    margin: 0;
    padding:0;
    margin-top: 1em;
}

ul.section > li{
    list-style-type: none;
    margin-bottom: 1em;
}

ul.section > ul > li {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.section ul + h2 {
    margin-top: 2.5em;
}

p.form-hint{
    margin: 0 0 0.5em 0;
}

.notice {
    min-height: 2em;
}

.section-heading {
    color: #005EA5;
    margin-top: 1em;
}

.answer--container {
    display: table;
    page-break-inside: avoid !important;
    width: 100%;
}

.answer--question {
    float: left;
    width: 50%;
}


.answer--question p {
    margin-top: 0.5em;
}

.answer--question p strong {
    font-weight: 700;
}

.answer--answer {
    float: left;
    width: 50%;
}

.answer--answer p {
    margin-top: 0.5em;
    margin-left: 1em;
}