
body {
    width: auto;
    height: auto;
    margin: 0;
}
.govuk-heading-xl {
    display: none;
}
.print-document {
    padding: 10px 10px;
    position: relative;
    margin-bottom: 15em;
    zoom: 100%;
    width: 210mm;
    height: auto;
}
.print-document .logotype {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
    padding-top: 15px;
}

.print-document {
    page-break-after  : always;
}

.print-document__information-box-no-border {
    display: block;
    margin-bottom: 1em;
    padding: 4mm;
    width: 100%;
    background-color: #e1f3f1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}


.body-text {
   margin-top: .26316em;
   margin-bottom: 1.05263em;
}

.stack {
    margin-inline-start: 0;
}

.print-document table td {
    border: none;
    padding: 0;
    margin: 0;
}
.print-document h2, h3, h4 {
    margin-top: 0;
}
.print-document h2 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #00703C;
    font-weight: 600;
}

.crown-logo-atar{
    height: 100px;
    width:auto;
    padding-left: 0px;
    margin-right: -15px;
}

.print-document .print-header {
    position: relative;
}

.print-document .logo-text {
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   line-height: 2.1;
}

.print-document .print-header h2 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #00703C;
    font-weight: 600;
}

.print-document .information-box {
    border: none;
    border-radius: 25px;
    display: block;
    margin-bottom: 1em;
    padding: 5px 10px;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
}

.print-document .print-header h3 {
    text-align: right;
    margin-top: 2em;
    font-size: 1.2em;
    color: #00703C;
    font-weight: 600
}
.print-document .hero-text {
    margin-bottom: 0.26316em;
    font-size: 1.4em;
    font-weight: 700;
}
.print-document .reference-number {
    font-size: 36px;
}
.print-document .footer-page-date {
     float: right;
 }
.print-document h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
    font-weight: 600;
}
.print-header, .header-space,
.print-footer, .footer-space {
 height: 15mm;
}
.print-document__information-box {
    border: 2px solid #00703C;
    display: block;
    margin-bottom: 1em;
    padding: 5mm;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}
.date-of-result, .decision-service-version {
    border-bottom: 2px solid #00703C
}
.date-of-result h3 {
    margin-bottom: 0
}
.date-of-result h2 {
    color: #333;
    text-align: left;
}
.about-this-result-box {
    background: #e1f3f1;
    padding: 1px 10px;
    font-size: 15px;
    -webkit-print-color-adjust: exact;
    margin-bottom: 20px;
}
.about-this-result-box-do-not-send {
    height: 480px;
}
.about-this-result, .date-of-result {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 1rem !important;
}
.bold {
    font-weight: 700;
}
.print-pages {
    -webkit-transform-origin:  top left;
    -moz-transform-origin:  top left;
    -ms-transform-origin:  top left;
    -o-transform-origin:  top left;
    transform-origin:  top left;
}
.section-heading {
    color: #005EA5;
    margin-top: 1em;
}
.govuk-summary-list {
    display: table;
    margin-top: 1em;
    page-break-inside: avoid !important;
    width: 100%;
}
.govuk-summary-list__key {
    float: left;
    width: 50%;
}
.govuk-summary-list__key p {
    margin-top: 0.5em;
}
.govuk-summary-list__key p strong {
    font-weight: 700;
}
.govuk-summary-list__value {
    float: left;
    width: 50%;
}
.govuk-summary-list__value p {
    margin-top: 0.5em;
    padding-left: 1em;
}
.print-header, .header-space,
.print-footer, .footer-space {
    height: 25mm;
}
.govuk-summary-list.govuk-summary-list__key {
    width: 100%;
}
.govuk-summary-list {
    display: table;
}
.govuk-summary-list > * {
    display: table-row;
    border-bottom-width: 0;
}
.govuk-summary-list > * {
    position: relative;
    border-bottom: 1px solid #bfc1c3;
}
.govuk-summary-list.govuk-summary-list__key .govuk-summary-list__key {
    width: 30%;
}
.govuk-summary-list > *:first-child .govuk-summary-list__key {
    margin-top: 0;
}
.govuk-summary-list .govuk-summary-list__key {
    font-weight: bold;
    margin: 0.63158em 4em 0.21053em 0;
}
.govuk-summary-list .govuk-summary-list__value {
    padding-bottom: 0.47368em;
}
.govuk-summary-list > *:first-child > * {
    padding-top: 0;
}
.govuk-summary-list__value {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.govuk-summary-list__key {
    font-weight: bold;
    margin: .63158em 4em .21053em 0;
    width: 50%;
  }
.govuk-summary-list__value {
    padding-bottom: .47368em;
    word-break: break-word;
    overflow-wrap: break-word;
    width: 50%;
}
.govuk-summary-list>*>* {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: .63158em 1.05263em .47368em 0;
    margin: 0;
}
  > *:first-child .govuk-summary-list__key {
    margin-top: 0;
  }
  .notice .icon {
    position: absolute;
    left: 0;
    margin-top: 0px;
    margin-right: 10px;
}
.notice strong {
    display: block;
    padding-left: 65px;
    margin-left: -15px;
}
.icon-important_ {
    width: 35px;
    height: 35px;
}
.panel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    border-color: #bfc1c3;
    padding: .78947em;
    margin-bottom: .78947em;
}
.panel-border-wide {
    border-left-width: 10px;
}
.mt-2 {
    margin-top: 2rem !important;
}
.icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
}
address {
    font-style: normal;
}
.pre-wrap {
    white-space: pre-wrap;
}

.hidden-print {
  display: none !important;
}

@media print {

  body {
    visibility: hidden;
  }

  .page-break { page-break-before: always; }

  #print-pages-1 {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
